#playground {
  background-color: #000000;
}

#input {
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  padding: 0;
}

#label {
  padding: 0;
  margin-top: 2px;
}

#input-groups {
  padding: 0;
}

.text-format {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  background-color: #000000;
  color: #ffffff;
}
